# npm install react-navigation
# expo install react-native-gesture-handler react-native-reanimated react-native-screens react-native-safe-area-context @react-native-community/masked-view
# npm install @react-navigation/bottom-tabs
# npm install react-navigation-tabs
# npm i react-native-progress
# expo install @react-native-community/datetimepicker
# npm install @react-navigation/native-stack
# npm install @react-navigation/drawer
# npm i react-native-login-screen
# npm i react-native-text-input-interactive
# npm i react-native-countdown-component
# npm i react-native-chart-kit